<div class="container">
  <h1 class="header center">Solve With Us</h1>
  <div class="row center">
    <div class="col s12 m6 offset-m3">
      <hr/>
    </div>
    <div class="col s12 m6 offset-m3">
      <p>
        Coming soon, Solve With Us
      </p>
    </div>
  </div>
  <div class="row center">
    <div class="col s12 m6 offset-m3">
      <p>
        A port to node.js
      </p>
    </div>
    <div class="col s12 m6 offset-m3">
      <hr/>
    </div>
  </div>
  <div class="row center">
    <form action="/login" method="GET" class="actions">
      <button type="submit" class="btn login">
        Log in with your Google account
      </button>
    </form>
  </div>
</div>
